* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    width: 40px;
    height: 38px;
    padding: 0;
}

h1 {
    font-size: 25px;
    font-weight: 300;
}

h2 {
    display: flex;
    margin: 15px;
    font-size: 22px;
    text-align: center;
}

h3 {
    font-size: 15px;
    color: #5a6065;
    margin: 1px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 3px 0;
    height: 98%;
    overflow-y: scroll;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

hr {
    background: #c5c3c3;
    height: 1px;
    border: none;
    margin: 0 0 0 6px;
}

p {
    margin: 0 0 0 6px;
}

p a {
    text-decoration: none;
    color: #616161;
}

p a:hover {
    text-decoration: none;
    color: #212121;
}

strong {
    color: #787676;
}

[group~=controls] {
    position: absolute;
    background-color: white;
}

[group~=review-lists] {
    position: absolute;
    background-color: #fffae3;
    top: 40px;
    padding: 10px;
    max-width: 80%;
    height: 90%;
    left: 10%;
}

[group~=lists] {
    position: absolute;
    background-color: #fffae3;
    padding: 10px 20px 0px 20px;
    top: 40px;
    max-width: 60%;
    height: 90%;
    left: 10%;
    font-size: 16px;
}

[group~=photos] {
    position: absolute;
    max-width: 60%;
    max-height: 80%;
    top: 50%;
    left: 50%;
}

[group~=closeButton] {
    position: absolute;
    z-index: 110;
    cursor: pointer;
    top: 50px;
    left: 20px;
    width: 40px;
    height: 40px;
}

[group~=backward] {
    position: absolute;
    z-index: 110;
    cursor: pointer;
    top: 50%;
    left: 15%;
    width: 40px;
    height: 40px;
}

[group~=forward] {
    position: absolute;
    z-index: 110;
    cursor: pointer;
    top: 50%;
    right: 15%;
    width: 40px;
    height: 40px;
}

[type~=core] {
    background-color: #4b86b4;
    color: white;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: none;
}

#search-box input:focus {
    background-color: white;
}

#search-input {
    width: 100%;
}
/*
#hide-list {
    z-index: 105;
    right: 1vw;
    top: 1vw;
    margin: 0;
}
*/

#map-canvas {
    height: 100%;
}

#search-box {
    display: inline;
    width: 35%;
    line-height: 30px;
    top: 0%;
    left: 16.5%;
    z-index: 105;
}

.photoCounter {
    width: 20%;
    font-size: 25px;
    color: black;
    left: 45%;
    position: absolute;
    z-index: 110;
    bottom: 5%;
    cursor: pointer;
}

#btn-toolbar {
    left: 2px;
    bottom: 7%;
    /* background-color: #7bb2a2; */
    border: 0px;
}

#reviews {
    padding-left: 10px;
}

.p2 {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

.review-title {
    font-size: 15px;
    height: 10%;
}

.results {
    height: 72%;
    border-radius: 5px;
    z-index: 105;
    position: fixed;
    top: 40px;
    right: 0px;
    background-color: #FFF;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.hide-result {
    z-index: 106;
    top: 0;
    right: 0;
}

.mylist {
    overflow-y: scroll;
    max-height: 80%;
}

.mylist::-webkit-scrollbar {
    width: 12px;
    overflow: visible;
    margin: 10px;
    background-color: white;
}

.mylist::-webkit-scrollbar-thumb {
    background-color: #4b86b4;
    height: 20px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.2),inset 0 -1px 0 rgba(0,0,0,.1);
}

.viewport {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 106;
    top: 0;
    background: -moz-linear-gradient(left,  rgba(216,224,222,0.6) 10%, rgba(189,203,200,0.65) 14%, rgba(174,191,188,0.70) 22%, rgba(153,175,171,0.75) 33%, rgba(142,166,162,0.8) 50%, rgba(130,157,152,0.85) 67%, rgba(78,92,90,0.89) 82%, rgba(14,14,14,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(216,224,222,0.6) 10%,rgba(189,203,200,0.65) 14%,rgba(174,191,188,0.70) 22%,rgba(153,175,171,0.75) 33%,rgba(142,166,162,0.8) 50%,rgba(130,157,152,0.85) 67%,rgba(78,92,90,0.89) 82%,rgba(14,14,14,1) 100%);
    background: linear-gradient(to right,  rgba(216,224,222,0.6) 10%,rgba(189,203,200,0.65) 14%,rgba(174,191,188,0.70) 22%,rgba(153,175,171,0.75) 33%,rgba(142,166,162,0.8) 50%,rgba(130,157,152,0.85) 67%,rgba(78,92,90,0.89) 82%,rgba(14,14,14,1) 100%);
 /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ad8e0de', endColorstr='#0e0e0e',GradientType=1 ); */
    ;
}

.btn-toolbar-img {
    width: 100%;
    height: auto;
    margin: 2px;
}

.longtext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.article {
    display: block;
    font-size: 18px;
}

.infolist {
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 72%;
    margin: 5px 0;
    padding: 2px;
}

.list-review {
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 5px 0 5px 0;
    padding: 2px;
}

.infolist::-webkit-scrollbar,
.list-review::-webkit-scrollbar {
    width: 12px;
    overflow: visible;
    margin: 10px;
    background-color: white;
}

.infolist::-webkit-scrollbar-thumb,
.list-review::-webkit-scrollbar-thumb {
    background-color: #4b86b4;
    height: 30px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.2),inset 0 -1px 0 rgba(0,0,0,.1);
}

.infolist li {
    padding: 0px 2px 3px 2px;
    margin-bottom: 4px;
    color: #989696;
    cursor: pointer;
}

.list-review li {
    padding: 2px 2px 3px 2px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    color: #989696;
    background-color: #fffae3;
    cursor: pointer;
}

.infolist li:hover,
.list-review li:hover {
    background-color: #d1e1ec;
}

.infolist li:active,
.list-review li:active {
    background-color: #b3cde0;
}

.info-header {
    font-size: 16px;
}

.info-img {
    height: 30px;
    margin: 5px;
}

.col-md-8 {
    padding-left: 5px;
    height: inherit;
}

.col-md-4 {
    padding-right: 5px;
    height: inherit;
}

img.photo {
    position: absolute;
    max-height: 60%;
    max-width: 60%;
    top: 25%;
    left: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.street-view {
    position: absolute;
    max-height: 80%;
    max-width: 80%;
    top: 10%;
    left: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navButton {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 110;
    cursor: pointer;
}

.hz-buttons {
    z-index: 105;
    top: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 52%;
    width: 140px;
    cursor: pointer;
}

.hz-button {
    display: block;
    margin: 0 5px 0 0;
    text-align: center;
}

.fit {
    width: 50%;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navButton:hover,
.hz-button:hover {
    opacity: 0.8;
}

.navButton:active {
    opacity: 0.3;
}

.btn {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 2px;
    background-color: white;
}

.rate-star {
    height: 14px;
    padding: 1px 0 2px 0;
}

.rating-number {
    color: #df6d15;
    padding-right: 3px;
    vertical-align: middle;
    margin-left: 6px;
}

.rating_group {
    display: inline;
    float: right;
}

.greytext {
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    color: #989696;
    vertical-align: middle;
    margin-left: 20px;
    padding-bottom: 15px;
    font-size: 16px;
}

.row {
    margin-top: 3px;
}

.list-review {
    width: 95%;
    height: 70%;
    margin: 0 2.5% 0 2.5%;
}

.list-photo {
    width: 100%;
}

.logo {
    float: right;
    font-size: 11px;
    color: #767676;
    margin-top: 15px;
}

.infoWindow {
    font-size: 13px;
    display: block;
    width: 280px;
}

.opening, .rating {
    color: #4a7ea7;
    white-space: normal;
    display: inline;
}

.review-short {
        display: inline;
}

.nytimes-header,
.wiki-header {
    font-size: 16px;
    font-weight: bold;
}

.mycategories {
    z-index: 106;
    padding: 0;
    margin: 0;
    top: 60px;
    left: 40%;
    border-radius: 5px;
}

.myCategories-header {
    background-color: #6890C1;
    padding: 5px;
    color: white;
}

.category {
    padding:15px;
}

.select {
    display: block;
}

#close-location {
    width: 20px;
    height: 20px;
}

/* location list */
#location {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    padding: 0;
    margin: 0;
    top: 60px;
    left: 40%;
    width: 30%;
    max-width: 250px;
    height: 230px;
    font-size: 14px;
    z-index: 106;
}

#location-list {
    background-color: #fffae3;
    width: 100%;
    height: 100%;
    list-style: none;
}

#location-list li {
    position: relative;
    font-size: 14px;
    border-bottom: 2px solid #ededed;
}

#location-list li label {
  /* color: #d9d9d9; */
    color: #a9a9a9;
    white-space: pre-line;
    word-break: break-all;
    padding: 0 0 0 10px;
    margin-left: 35px;
    line-height: 1.2;
    transition: color 0.4s;
}

#location-list li.selected label {
    color: gray;
}

#location-list li .toggle {
    text-align: center;
    width: 24px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    -webkit-appearance: none;
    /* appearance: none; */
}

#location-list li .toggle:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

#location-list li .toggle:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

#location-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 26px;
    height: 26px;
    margin: auto 0;
    font-size: 18px;
    color: #cc9a9a;
    margin-bottom: 5px;
    transition: color 0.2s ease-out;
}

#location-list li .destroy:hover {
    text-shadow: 0 0 1px #000,
         0 0 15px rgba(199, 107, 107, 0.8);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#location-list li .destroy:after {
    content: '✖';
}

#location-list li:hover .destroy {
    display: block;
}

#myLocations {
    margin: 0;
}

#myLocations:hover span {
    display: block;
}

#myLocations span{
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    z-index: 106;
    color: #717171;
    font-size: 13px;
    height: 28px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;

}

#myLocations span:after {
    content:'List of locations';
    position:absolute;
    width:130px;
    /* height:30px; */
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    top: 70px;
    margin-left: 1px;
    border-radius: 5px;
    -moz-transform:none;
    -webkit-transform:none;
    transform:none;
}

#myCategories {
    margin: 0;
}

#myCategories:hover span {
    display: block;
}

#myCategories span {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    z-index: 106;
    color: #717171;
    font-size: 13px;
    height: 28px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;

}

#myCategories span:after {
    content:'List of categories';
    position:absolute;
    width:140px;
    /* height:28px;*/
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    top: 70px;
    margin-left: 1px;
    border-radius: 5px;
    -moz-transform:none;
    -webkit-transform:none;
    transform:none;
}

#myRefresh {
    margin: 0;
}

#myRefresh:hover span {
    display: block;
}

#myRefresh span {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    z-index: 106;
    color: #717171;
    font-size: 13px;
    height: 28px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;

}

#myRefresh span:after {
    content:'Refresh categories';
    position:absolute;
    width:140px;
    /* height:28px;*/
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    top: 70px;
    margin-left: 1px;
    border-radius: 5px;
    -moz-transform:none;
    -webkit-transform:none;
    transform:none;
}

#myResults:hover span {
    display: block;
}

#myResults span{
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    z-index: 106;
    color: #717171;
    font-size: 13px;
    height: 28px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;

}

#myResults span:after {
    content:'List of results';
    position:absolute;
    width:120px;
    /* height:30px; */
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    top: 40px;
    margin-left:-80px;
    border-radius: 5px;
    -moz-transform:none;
    -webkit-transform:none;
    transform:none;
}

/* custom alert box */

#alertoverlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 115;
}

#alertbox {
    display: none;
    position: fixed;
    background: #000;
    /* border-radius: 7px; */
    top: 30%;
    left: 30%;
    width: 40%;
    z-index: 115;
}

#alertbox1 {
    position: absolute;
    background: #000;
    /* border-radius: 7px; */
    top: 30%;
    left: 30%;
    width: 40%;
    z-index: 110;
}

#alertbox, #alertbox1 {
    background: #FFF;
    margin: 8px;
}

.alertboxhead {
    background: #a0a0a0;
    font-size: 16px;
    padding: 10px;
    color: #883434;
}

.alertboxbody {
    background: #333;
    padding: 20px;
    font-size: 14px;
    color: #FFF;
}

.alertboxfoot {
    background: #a0a0a0;
    padding: 10px;
    text-align: center;
}

/* Media query */
@media screen and (min-width: 1170px) {
    .results {
        width: 25%;
        max-width: 350px;
    }

    .infoWindow {
        width: 280px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1169px) {

    .results {
        width: 26%;
        max-width: 350px;
        height: 65%;
    }

    .infolist {
        max-height: 65%;
    }

    .infoWindow {
        font-size: 12px;
        width: 270px;
    }

    .photoCounter {
        bottom: 2%;
        font-size: 18px;
    }

    .col-md-4, .col-md-2 {
        display: none;
    }

    #btn-toolbar {
        bottom: 7%;
    }

    .btn-toolbar-img {
        width: 100%;
    }

    .btn-toolbar-ctl {
        display: block;
        background-color: #4b86b4;
    }

    .infolist {
        font-size: 11px;
    }

    .nytimes-header,.wiki-header {
        font-size: 14px;
    }

    .article {
        font-size: 14px;
    }

    button {
        width: 35px;
        height: 32px;
        padding: 0;
    }

    .btn {
        width: 32px;
        height: 32px;
    }

    p a {
        white-space: normal;
        text-overflow: ellipsis;
        font-size: 14px;
    }

    .p2 {
        font-size: 18px;
        font-weight: bold;
    }

    h2,h3 {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 749px) {

    h2,h3 {
        font-size: 1em;
    }

    .col-md-4, .col-md-2 {
        display: none;
    }

    .infoWindow {
        font-size: 12px;
        width: 260px;
    }

    .results {
        width: 35%;
        max-width: 350px;
        height: 65%;
    }

    [type~=core] {
        background-color: #4b86b4;
        color: white;
        height: 30px;
        width: 30px;
    }

    #location {
        left: 15%;
        width: 70%;
    }

    .info-header {
        font-size: 14px;
    }

    [group~=lists] {
        font-size: 14px;
    }

    .review-title {
        font-size: 13px;
        height: 10%;
    }

    button {
        width: 30px;
        height: 30px;
        padding: 0;
    }

    .btn {
        width: 30px;
        height: 30px;
    }

    .opening {
        display: none;
    }

    .review-short {
        display: none;
    }
}